[Unit]
Description=Start AREC Audio Recording Service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl start arec.service
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
