[Unit]
Description=Stop AREC Audio Recording at 23:30
Requires=arec-stop.service

[Timer]
OnCalendar=*-*-* 23:30:00
Persistent=true

[Install]
WantedBy=timers.target
