[Unit]
Description=Start AREC Audio Recording at 06:00
Requires=arec-start.service

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
